:root {
    --cream: rgb(220, 198, 174);
    --black: rgb(15, 17, 16);
    --yellow: rgb(205, 169, 95);
    --red: rgb(202,47,42);
    --gray: rgb(117, 114, 99);
    --brown: rgb(118, 66, 42);
    --orange: rgb(210, 112, 51);
    --green: rgb(12, 77, 47);
    --light-brown: rgb(132, 97, 77);
    --light-green: rgb(127, 163, 102);
    --dark-brown: rgb(36, 27, 22);
    --epayco-blue: rgb(28, 14, 73)
  }