{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}

{% for ballot in ballots %}
    <div>{{ ballot }}</div>
{% endfor %}
<span>{{ cliente.nombre }}{{ cliente.apellido }}</span>
<span>{{ cliente.correo }}</span>
{% if value_2 != value_1 %}
    <span>{{ value_1 }}</span>
    <span>{{ value_2 }}</span>
{% else %}
    <span>{{ value_1 }}</span>
{% endif %}



<form action={% url 'store:confirmacion' %} method="post">
    {% csrf_token %}

    <input type="hidden" name="value_1" value={{ value_1 }}>
    <input type="hidden" name="value_2" value={{ value_2 }}>
    <input type="hidden" name="client_id" value={{ client.id }}>
    <input type="hidden" name="discount_id" value={{ discount.id }}>

    {% for ballot in ballots %}
    <input type="hidden" name="ballot_id" value={{ ballot.id }}>
    {% endfor %}
    
    <input type="submit" value="ePayco">

</form>


{% endblock content %}