{% extends 'base.html' %}
{% load static %}
{% block title %}El Altar{% endblock title %}

{% block css %}
<link rel="stylesheet" href={% static "css/inputs.css" %}>
{% endblock css %}

{% block content %}     

<div class="block">
    <div class="header">
        <img id="complete-logo" class="mx-auto d-block">
    </div>
    <h1>Experience the new reality</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, excepturi. At recusandae sit perferendis
        autem,iste tempora nostrum numquam sapiente!</p>
    <a href="/balotas" class="btn btn-transparent smooth-scroll">Comprar balotas</a>
</div>

{% endblock content %}

      

</html>