{% extends 'base.html' %}
{% load static %}
{% block title %}Inputs{% endblock title %}

{% block css %}
<link rel="stylesheet" href={% static "css/inputs.css" %}>
{% endblock css %}

{% block content %}

<div>
  <div id="response-message" class="response-section">
    <h1>¡Felicidades Mateo! Has adquirido las siguientes balotas:</h1>
  </div>

  <div id="response-ballots" class="response-section">
    {% comment %} <section id="ballots" class="bill-section"> {% endcomment %}
      <div class="container align-content-center">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="d-flex flex-wrap justify-content-center">
                {% comment %} {% for ballot in ballots %} {% endcomment %}
                  <label class="balota-label">27</label> 
                  <label class="balota-label">2</label>    
                  <label class="balota-label">12</label>    
                  <label class="balota-label">1</label>    
                  <label class="balota-label">19</label>    
                  <label class="balota-label">38</label>    

                {% comment %} {% endfor %} {% endcomment %}
                </div>
            </div>
        </div> 
      </div>
    {% comment %} </section> {% endcomment %}
  </div>

  <div id="response-redirect" class="response-section">
    <a href="/" class="btn btn-transparent smooth-scroll">El Altar</a>
  </div>

</div>



{% endblock content %}


{% block js_block %}
{% endblock js_block %}