{% extends 'base.html' %}
{% load static %}
{% block title %}Formulario{% endblock title %}

{% block css %}
<link rel="stylesheet" href={% static "css/inputs.css" %}>
{% endblock css %}

{% block content %}

<div class="block">

  <div id="bill">

    <section id="ballots" class="bill-section">

    </section>

    <section id="personal-data" class="bill-section">
      <div class="row-1">
        <div class="cont-2">
          <div class="field-name field-item">Nombre</div>
          <div class="field-value field-item">mateo</div>
        </div>
        <div class="cont-2">
          <div class="field-name field-item">Apellido</div>
          <div class="field-value field-item">Salazar</div>
        </div>
      </div>
      <div class="row-1">
        <div class="cont-2">
          <div class="field-name field-item">Correo</div>
          <div class="field-value field-item">mateoslb70@gmail.com</div>
        </div>
        <div class="cont-2">
          <div class="field-name field-item">Celular</div>
          <div class="field-value field-item">3197012975</div>
        </div>
      </div>
    </section>

    <section id="prices" class="bill-section">
        <div class="cont-2">
          <div class="field-name field-item">Valor inicial</div>
          <div class="field-value field-item">100000.00</div>
        </div>
        <div class="cont-2">
          <div class="field-name field-item">Valor final</div>
          <div class="field-value field-item">40000.00</div>
        </div>
    </section>

    <section id="gateway" class="bill-section">
      <div class="row1">
        <a id="epayco-button" href=""></a>
      </div>
    </section>


  </div>


</div>



{% endblock content %}





{% block js_block %}
  <script>
      const bId = {{ balota_ids|safe }};
  </script>
  <script type="text/javascript" src={% static "js/bills_2.js"%}></script>
{% endblock js_block %}