{% extends 'base.html' %}
{% load static %}
{% block title %}Formulario{% endblock title %}

{% block css %}
<link rel="stylesheet" href={% static "css/inputs.css" %}>
{% endblock css %}

{% block content %}

<div class="block">

  <div id="bill">

    <section id="ballots" class="bill-section">

    </section>

    <section id="personal-data" class="bill-section">
      <div class="personal-data-row">
        <div class="personal-data-field">
          <div class="field-name">Correo</div>
          <div class="field-value">mateoslb70@gmail.com</div>
        </div>
        <div class="personal-data-field">2
          
        </div>

      </div>

      <div class="personal-data-row">

        <div class="personal-data-field">3
          
        </div>
        <div class="personal-data-field">4
          
        </div>

      </div>

    </section>

    <section id="prices" class="bill-section">
      
    </section>

    <section id="gateway" class="bill-section">
      
    </section>


  </div>


</div>



{% endblock content %}





{% block js_block %}
  <script>
      const bId = {{ balota_ids|safe }};
  </script>
  <script type="text/javascript" src={% static "js/bills_2.js"%}></script>
{% endblock js_block %}