{% extends 'base.html' %}
{% load static %}
{% block title %}Formulario{% endblock title %}

{% block content %}

<h1>Datos personales</h1>

<form action={% url 'store:confirmacion' %} method="post" id="bill-form">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <div class="form-wrapper">
        <div class="form-error"></div>
        <div class="form-field">
            <label for="id_nombre">Nombre</label>
            {{ form.nombre }}
        </div>
    </div>
    <div class="form-wrapper">
        <div class="form-error"></div>
        <div class="form-field">
            <label for="id_apellido">Apellido</label>
            {{ form.apellido }}
        </div>
    </div>
    <div class="form-wrapper">
        <div class="form-error"></div>
        <div class="form-field">
            <label for="id_correo">Correo</label>
            {{ form.correo }}
        </div>
    </div>
    <div class="form-wrapper">
        <div class="form-error"></div>
        <div class="form-field">
            <label for="id_celular">Celular</label>
            {{ form.celular }}
        </div>
    </div> {% endcomment %}


    <label for="discount_code">Código de descuento</label>
    <input type="text" id="discount_code" name="discount_code" value="">
    <input type="button" id="code-validator", value="Validar código">
    <input type="button" id="bill-generator" value="Generar factura">
</form>

{% endblock content %}

{% block js_block %}
    <script>
        ballotIdList = {{ balota_ids|safe }}
    </script>
    <script type="text/javascript" src={% static "js/bills_2.js"%}></script>
{% endblock js_block %}

