{% extends 'base.html' %}
{% load static %}
{% block title %}Respuesta{% endblock title %}
{% block css %}
<link rel="stylesheet" href={% static "css/inputs.css" %}>
{% endblock css %}

{% block content %}

<div>
    {% if transaction.link_de_pago %}

        {% if data.x_response == 'Aceptada' %}
        <div id="response-message" class="response-section">
            <h1>¡Felicidades {{ transaction.cliente.nombre }}! Has adquirido las siguientes balotas:</h1>   
        </div>

        <div id="response-ballots" class="response-section">
            <div class="container align-content-center">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for ballot in transaction.balota_set.all %}
                            <label class="balota-label">{{ ballot }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        {% endif %}


        {% if transaction.estado == 0 %}

            {% if data.x_response == 'Rechazada' %}
            <div id="response-message" class="response-section">
                <h1>{{transaction.cliente.nombre}}, la transacción no se ha llevado a cabo con éxito, inténtalo nuevamente.</h1>
            </div>
            
            <div id="response-redirect" class="response-section">
                <a id="epayco-button" href="{{ transaction.link_de_pago }}"></a>
            </div>
            {% endif %}


            {% if data.x_response == 'Fallida' %}
            <div id="response-message" class="response-section">
                <h1>{{transaction.cliente.nombre}}, la transacción no se ha llevado a cabo con éxito, inténtalo nuevamente.</h1>
            </div>
            
            <div id="response-redirect" class="response-section">
                <a id="epayco-button" href="{{ transaction.link_de_pago }}"></a>
            </div>
            {% endif %}

        {% endif %}
        

        {% if data.x_response == 'Pendiente' %}
        <div id="response-message" class="response-section">
            <h2>{{transaction.cliente.nombre}}, Hemos tomado tus datos y las balotas asociadas a tu transacción, por favor revisa el siguiente link en unos minutos para confirmar tu compra.</h2>
        </div>
        <div id="response-redirect" class="response-section">
            <a href="{{ data.view_link }}">{{ data.view_link }}</a> 
        </div>
        {% endif %}

    {% else %}
        <div id="response-message" class="response-section">
            <h1>¡Felicidades {{ transaction.cliente.nombre }}! Has adquirido las siguientes balotas:</h1>   
        </div>

        <div id="response-ballots" class="response-section">
              <div class="container align-content-center">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for ballot in transaction.balota_set.all %}
                            <label class="balota-label">{{ ballot }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div> 
              </div>
          </div>
    {% endif %}

    <div id="response-redirect" class="response-section">
        <a href="/" class="btn btn-transparent smooth-scroll">El Altar</a>
    </div>
</div>

{% endblock content %}